html, body, #root {
  min-height: 100vh;
  margin: 0px;
}

nav {
  background-color: #FFB140;
}

.heading, .Footer {
  height: 250px;
}

.Footer {
  background-color: #3772FF;
}

.ProjectList div:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ProjectList a, .Footer a {
  text-decoration: none;
  color: black;
}

.Footer a:hover {
  color: white;
}

.Error .btn {
  background-color: #DF2935;
}

.NotFound #home {
  background-color: #DF2935;
}

.NotFound #back {
  background-color: #3772FF;
}

.NotFound .btn {
  color: black;
}

.NotFound .btn:hover {
  color: white;
}

.heading .btn {
  background-color: #FFB140;
}

.Footer img {
  mix-blend-mode: multiply;
}

.form .btn {
  background-color: #DF2935;
}