html, body, #root {
  min-height: 100vh;
  margin: 0px;
}

.heading, .Footer {
  height: 250px;
}

.tile:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Resume a {
  text-decoration: none;
  color: #3772FF;
}

.Resume a:hover {
  color: #DF2935;
}

.ProjectList a, .Footer a {
  text-decoration: none;
  color: black;
}

.ProjectDisplay p {
  white-space: pre-line;  
  vertical-align: bottom;
}

.Footer a:hover {
  color: white;
}

.Footer img {
  mix-blend-mode: multiply;
}

.btn {
  background-color: #DF2935;
}

.btn:hover {
  color: black;
  background-color: #FFB140;
}

.red {
  background-color: #DF2935;
}

.orange {
  background-color: #FFB140;
}

.blue {
  background-color: #3772FF;
}

.red-color {
  color: #DF2935;
}

/* Fixing issue of bootstrap icons being off-balance vertically in buttons 
and making them look better in general as well. source: https://github.com/twbs/icons/issues/82 */
svg {
  vertical-align: -0.125em;
  margin-bottom: calc(-0.125em / 2);
}

.btn svg {
    transform: scale(1.5);
    margin-bottom: 0;
}

.double-space {
  white-space: pre;
}